<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="DBH Docs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://help.dbh.wtf/" />
    <meta property="og:image" content="/docs-embed.png" />
    <meta property="og:description" content="<%= metaDescription %>" />
    <meta name="theme-color" content="#728ad8">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github-dark-dimmed.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>DBH Docs</title>
</head>
<body>
    <nav class="sidebar">
        <div class="container logo">
            <img src="<%= logo %>">Docs
        </div>
        <div class="items">
            <%- menu %>
        </div>
    </nav>
    <div class="wrapper">
        <div class="shadow"></div>
        <nav class="header">
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
                <input type="search" placeholder="Search...">
                <div class="items">
                    <%- menuFormatted %>
                </div>
            </div>
            <ul class="header-links">
                <li><a href="/introduction/">Home</a></li>
                <li><a href="https://panel.danbot.host/">Panel</a></li>
                <li><a href="https://github.com/DBH-Docs/Documentation">GitHub</a></li>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
            </ul>
        </nav>
        <div class="content">
            <%- content %>
        </div>
        <div class="pre-footer">
            <a href="<%= nextPage %>" class="next-page card">
                <i class="<%= iconNextPage %>"></i>
                <div>
                    Next → <%= formatNextPage %>
                    <br>
                    <p><%= nextPage %></p>
                </div>
            </a>
        </div>
        <nav class="footer">
            <p>This Website/Software is not <a href="https://danbot.host/">official</a>!
            <div>
                <a href="https://github.com/DBH-Docs/Documentation"><i class="fa-brands fa-github"></i></a>
                <a href="https://discord.gg/dbh"><i class="fa-brands fa-discord"></i></a>
                <a href="https://paypal.me/DanBotHosting"><i class="fa-brands fa-paypal"></i></a>
                <a href="/contribute"><i class="fa-solid fa-handshake-angle"></i></a>
            </div>
        </nav>
    </div>
</body>
<script>
// Mobile hamburger
mobile = $('.sidebar, .sidebar .items, .logo, .shadow, body')
$('.fa-bars').on('click', function() {
    mobile.toggleClass('unwrap')
});

// Category expanding
$('.items li em').on('click', function() {
    self = $(this).parent();
    self.toggleClass('expand');
    $(this).toggleClass('expand');
});

// Mobile shadow + unwrap, inactive on load
if (window.matchMedia('screen and (max-width: 1250px)').matches) {
    mobile.toggleClass('unwrap');
    $(".hamburger input").addClass('inactive');
}
$('.shadow').on('click', function() {
    mobile.addClass('unwrap');
});

// Header shadow
$(window).scroll(function() {
scroll = $(window).scrollTop();
if (scroll > 0) {
    $(".header").addClass("active");
} else {
    $(".header").removeClass("active");
}
});

// Highlighting active page in header/sidebar
$('.header [href], .sidebar [href]').each(function() {
    if (this.href != window.location.href) return;
    $(this).addClass('active');
    $(this).parents('li').addClass('expand');
    $(this).parents('li').children('em').addClass('expand');
});

// Copy widget + pop-up
$('copy').on('click', function() {
    $temp = $("<input>");
    copied = $(this).children();
    $("body").append($temp);
    $temp.val($(this).clone().children().remove().end().text()).select();
    document.execCommand("copy");
    $temp.remove();
    copied.addClass('active');
    setTimeout(function() {
        copied.removeClass('active');
    }, 2000);
});

// Hashchange
hash = location.hash.substring(1);
load = 5; // Amount of posts loaded
function offsetAnchor() {
    if (location.hash.length !== 0) window.scrollTo(window.scrollX, window.scrollY - 80);
}
window.addEventListener("hashchange", offsetAnchor);
window.setTimeout(offsetAnchor, 1);
if (hash && location.pathname == "/issue-tracker/") while (load < hash) load = load + 5;

// Issue tracker handler
issue_tracker = $('.issue-tracker > li');
posts = issue_tracker.length;
issue_tracker.hide();
if (load >= posts) $('.content btn').hide();
issue_tracker.slice(0, load).show();
$('.content btn').on('click', function() {
    load = (load + 5 <= posts) ? load + 5 : posts;
    issue_tracker.slice(0, load).show();
    if (load >= posts) $(this).hide();
});

// Search bar
$('.header-links .fa-magnifying-glass').click(function() {
    $('.header-links a, .hamburger input').toggleClass('inactive')
});
$(".hamburger .items").hide();
$(document).click(function(event) {
    if (!$(event.target).closest(".hamburger .items, .hamburger input").length) return $(".hamburger .items").hide();
    $(".hamburger .items").show();
    value = $(".hamburger input").val().toLowerCase();
    $(".hamburger .items a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
});
$(".hamburger input").on("keyup", function() {
    value = $(this).val().toLowerCase();
    $(".hamburger .items a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
});
</script>
</html>
